////////////////////////////////////////////////////////////////////////////////
// Layouts
////////////////////////////////////////////////////////////////////////////////

// =============================================================================
// Customer Properties
// =============================================================================

:root {
	@include break($medium, '<') {
		--gutters : #{$gap};
		--vertical-spacing : 2vh;
	}
}

// =============================================================================
// Main & Aside
// =============================================================================

main-and-aside {

  position:relative;
  display:block;

  @include break($medium, '>') {
		display:flex;
		main, aside { position:relative; }
    main {
      width:calc(100% - #{var(sidebar-width)});
			padding:0;
      order:2;
    }
    aside {
      width:var(sidebar-width);
      order:1;
    }
  }
}
