/.env
/.idea
/vendor
.DS_Store

**/assets/css/**/*
modules/helpers
!modules/**/assets/css/**/*
!modules/**/assets/js/**/*
!modules/**/assets/scripts/**/*
!modules/**/assets/images/**/*
**/assets/js/**/*
**/assets/js/maps
**/assets/videos/**/*
**/assets/images/symbols.svg
**/assets/images/sprites.svg

!**/assets/uploads/**/*
**/assets/uploads/_*/
**/assets/uploads/**/_*/

storage/**/*
!storage/rebrand/**/*

cpresources
**/assets/resources/**/*

node_modules

**/sass/_symbols.scss
sass-cache/*
