# General ----------------------------------------------------------------------

/.env
/.idea
/vendor
.DS_Store
cpresources
node_modules
sass-cache/*
src/**/_symbols.scss

# Modules ----------------------------------------------------------------------

modules/helpers
# modules/templatemaker

# Assets -----------------------------------------------------------------------

**/assets/css/**/*
**/assets/js/**/*
**/assets/js/maps
**/assets/videos/**/*
**/assets/images/symbols.svg
**/assets/images/sprites.svg
**/assets/resources/**/*

# Include uploads but exclude image transforms

!**/assets/uploads/**/*
**/assets/uploads/_*/
**/assets/uploads/**/_*/
