{% extends "_layouts/error" %}

{% set page = 'error-403' %}

{% block content %}
	<main>
		{{ svg('logo') }}
    <h1>{{ "E019"|t }}</h1>
    <p>{{ "E020"|t }}</p>
    <a href="/" class="back-button">{{ 'E001'|t }}</a>
  </main>
{% endblock %}
