{% extends "_layouts/error" %}

{% set page = 'error-404' %}

{% block content %}
	<main>
		{{ svg('logo') }}
    <h1>{{ "E021"|t }}</h1>
		<p>{{ "E022"|t }}</p>
    <a href="/" class="back-button">{{ 'E001'|t }}</a>
  </main>
{% endblock %}
