{% extends "_layouts/error" %}

{% set page = 'error-no-javascript' %}

{% block content %}

	<style>
		html, body { text-align: center;}
		svg, img[src*='.svg'] { display:none; }
		.back-button { display:table; margin-left:auto; margin-right:auto; margin-top:20px; }
	</style>

	<main>

		<h1>{{ 'E005'|t }}</h1>

		<p>{{ 'E006'|t|raw }}</p>

		<a class="back-button" href="http://www.enable-javascript.com/" target="_blank" rel="noopener">{{ 'E007'|t }}</a>

	</main>

{% endblock %}
