////////////////////////////////////////////////////////////////////////////////
// Contact
////////////////////////////////////////////////////////////////////////////////

form#contact {

  @include flex-container(col wrap);
  input-field:last-of-type { margin-bottom:$gap0; }

  @include break($medium, '<') {
    input-field { margin-bottom:$gap; }
  }
  @include break($medium, '>') {
    @include flex-direction(row);
    input-field { @include flex-grid(2, $gap);
      &[data-type="textarea"] { @include flex-grow(1); width:100% $imp; margin-right:0;  }
    }
  }
}
