////////////////////////////////////////////////////////////////////////////////
// Reset Password
////////////////////////////////////////////////////////////////////////////////

form#reset-password {

  width:100%;
  max-width:$medium + px;
  margin-left:auto; margin-right:auto;

  input-field[data-type="password"] field-note span {
    @include transition(color);
    &[data-strength="0"] { color:$red; }
    &[data-strength="1"] { color:$orange; }
    &[data-strength="2"] { color:$blue; }
    &[data-strength="3"] { color:$green; }
    &[data-strength="4"] { color:$purple; }
  }

  .buttons {

  }

}
