{# ////////////////////////////////////////////////////////////////////////// #}
{# News Entry                                                                 #}
{# ////////////////////////////////////////////////////////////////////////// #}

{% extends "_layouts/generic" %}

{% block after %}

	<related-articles>

	  <h2>{{ "C003"|t }}</h2>

	  {% include "_components/articles" with { type : 'news', limit : 3, list : craft.entries.section('news').all } %}

	</related-articles>

{% endblock %}
