{# ////////////////////////////////////////////////////////////////////////// #}
{# News Overview                                                              #}
{# ////////////////////////////////////////////////////////////////////////// #}

{% extends "_layouts/generic" %}

{% block after %}

	{% include "_components/articles" with { type : 'news', limit : 9, list : craft.entries.section('news').all } %}

	<button class="button">{{ "C035"|t }}</button>

{% endblock %}
