{% extends "_layouts/generic" %}

{% block after %}

	{% set limit = 4 %}
	{% set articles = craft.entries.section('news').all %}

	<news-articles data-limit="{{ limit }}" data-total="{{ articles|length }}" data-offset="0">

		{% include 'news/_articles' with { limit : limit } %}

	</news-articles>

	<button class="load-more">{{ "C035"|t }}</button>

{% endblock %}
