{# ////////////////////////////////////////////////////////////////////////// #}
{# Generic Layout                                                             #}
{# ////////////////////////////////////////////////////////////////////////// #}

{% extends '_layouts/master' %}

{# Content Block ============================================================ #}

{% block content %}

	{# Resolve entries, categories and tags to a universal element #}

	{% set element = element ?? product ?? entry ?? category ?? tag ?? null %}

	{# Cache the template using readable key name #}

	{% cache globally using key 'content-' ~ (element.slug ?? (segments is empty ? 'home' : segments|last)) %}

		<main>

			{# Before Content ---------------------------------------------------------
			Render extra content before the default element content. #}

			{% set before = before ?? block('before') ?? false %}
			{{ before is not empty ? before|raw }}

			{# 'cleanup' tags remove empty elements and duplicate line breaks #}

			{% cleanup %}

				{% if element ?? false %}

					{{ not element.isFieldEmpty('body') ? element.body }}

				{% endif %}

				{% include "_components/content-blocks" ignore missing %}

			{% endcleanup %}

			{# After Content ---------------------------------------------------------
			Render extra content after the default element content. #}

			{% set after = after ?? block('after') ?? false %}
			{{ after is not empty ? after|raw }}

		</main>

	{% endcache %}

{% endblock %}

{# Aside Block ============================================================== #}

{% block aside %}{% endblock %}
