{# ////////////////////////////////////////////////////////////////////////// #}
{# Generic Layout                                                             #}
{# ////////////////////////////////////////////////////////////////////////// #}

{% extends '_layouts/master' %}

{# Content Block ============================================================ #}

{% block content %}

	{# Resolve categories and tags to the entry variable to avoid errors. #}

	{% set entry = entry ?? category ?? tag ?? null %}

	{# Cache the template using readable key name #}

	{% cache globally using key 'content-' ~ (entry.slug ?? (segments is empty ? 'home' : segments|last)) %}

		<main>

			{# Before Content ---------------------------------------------------------
			Render extra content before the default entry content. #}

			{% set before = before ?? block('before') ?? false %}
			{{ before is not empty ? before|raw }}

			{# 'cleanup' tags remove empty elements and duplicate line breaks #}

			{% cleanup %}

				{% if entry ?? false %}

					{{ not entry.isFieldEmpty('body') ? entry.body }}

				{% endif %}

				{% include "_components/content-blocks" ignore missing %}

			{% endcleanup %}

			{# After Content ---------------------------------------------------------
			Render extra content after the default entry content. #}

			{% set after = after ?? block('after') ?? false %}
			{{ after is not empty ? after|raw }}

		</main>

	{% endcache %}

{% endblock %}

{# Aside Block ============================================================== #}

{% block aside %}{% endblock %}
