{# ////////////////////////////////////////////////////////////////////////// #}
{# Header                                                                     #}
{# ////////////////////////////////////////////////////////////////////////// #}

<header class="generic">

  {% include '_components/image' %}

	<div class="headings">
		{{ title|h1 }}
		{{ element is defined and not element.isFieldEmpty('subtitle') and (subtitle ?? true) ? element.subtitle|h2('subtitle') : false }}
	</div>

  {{ element is defined and not element.isFieldEmpty('shortDescription') and (description ?? true) ? element.shortDescription|h2 : false }}

  {{ (header ?? false) and header|type != 'boolean' ? header|raw : false }}

</header>
