{# ////////////////////////////////////////////////////////////////////////// #}
{# Navigation Bar                                                             #}
{# ////////////////////////////////////////////////////////////////////////// #}

{% if navigation ?? true %}

  {% cache globally using key 'navigation' %}

    <navigation-bar>

      <a itemprop="logo" class"logo" href="/">{{ svg('logo') }}</a>

      <nav>

				...

      </nav>

      <button class="menu">
        <svg viewBox="0 0 50 50">
          <line x1="0" y1="0" x2="50" y2="0"/>
          <line x1="0" y1="25" x2="50" y2="25"/>
          <line x1="0" y1="50" x2="50" y2="50"/>
        </svg>
      </button>

    </navigation-bar>

  {% endcache %}

{% endif %}
