////////////////////////////////////////////////////////////////////////////////
// Social Media
////////////////////////////////////////////////////////////////////////////////

social-media {
  @include flex-container(center center);
  a {
    display:block;
    @include size(24);
    &:hover svg { @include scale(1.2);}
    & + a { margin-left:$gap0; }
    span { display:none; }
    svg {
      @include size(100%);
      @include transition(fill, scale $ease-out-back);
      @each $media, $colour in $social-media-colours {
        &.#{'icon-' + $media} {
          fill:$colour;
        }
      }
    }
  }
}
