{% extends '_layouts/main' %}

{% set page = "reset-password" %}

{% block content %}

  <main>

    {% include '_components/forms/reset-password' with { message : false } %}

  </main>

{% endblock %}
