{% extends '_layouts/master' %}

{% if not (campaignsID ?? false) or not (keys.campaignsID ?? false) and not (campaignsDomain ?? false) or not (keys.campaignsDomain ?? false) %}
	{% exit 404 %}
{% endif  %}

{% set page = "unsubscribe" %}

{% block content %}

  <h2>{{ "C004"|t }}</h2>

	{% include "_forms/unsubscribe" with { legend : 'M010'} %}

{% endblock %}
